### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Mac ###
.DS_Store

### Java ###
*.class
*.log
*.jar
*.war
*.ear

### Application logs ###
logs/
*.log.*
